*.o
*.obj
*.depend
*.exe
lib*.a
*.save
*.layout
obj
bin
*.cbTemp
obj/Debug
bin/Debug
obj/Debug/*
bin/Debug/*
obj/Release
bin/Release
obj/Release/*
bin/Release/*
gmon.out
.c9revisions
.DS_Store
html
docs
